.footer-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10%;
    background-color: white;

}

.footer-text{
    font-family: 'PP Pangram Sans CompressExtrabold';
    font-size:60px;
    text-transform: uppercase;
    line-height: 80%;
}

.footer-mail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px black;
    font-family: 'Familjen Grotesk';
    font-size: 30px;
    font-weight: 400;
    

}
.footer-content{
    width: 400px;
}
.footer-legal{
    font-family: 'Familjen Grotesk';
    font-size: 12px;
    text-align: right;
    font-weight: 400;
}