.title-top{
    font-family: 'PP Pangram Sans CompressExtrabold';
    color: var(--color-white);
    font-size: 60px;
    line-height: 55px;
    text-transform: uppercase;
    position: absolute;
    top: 35%;
    left: 15%;
    z-index: 2;
}
@media (min-width: 48em) {
    .title-top{
        font-size: 160px;
        line-height: 140px;
    }
}
.content-about-int{
    text-align: right;
    margin-top: var(--space-xl);
}

.gif-about{
    
    width: 300px;
}

@media (min-width: 48em) {
    .gif-about{
        
        width: 500px;
    }
}
.top-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 90px var(--color-black) solid;
    height: 100vh;
    background-color: var(--color-black);
    justify-content: center;
    margin-bottom: -100px;
}
@media (min-width: 48em) {
    .top-about{
        height: 100vh;
        padding: 0 15%;
        margin-bottom: 0px;
        align-items: flex-end;
    }}

.content-about{
    background-color: var(--color-black);
    color: var(--color-white);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 10%;
    gap: 20%;
}
@media (min-width: 48em) {
    .content-about{
        flex-direction: row;
        padding:5% 15%;
    }}

.text-about{
    text-align: right;
    font-size: 18px;
}
@media (min-width: 48em) {
    .text-about{
        font-size: 30px;
    }}

.title-programs{
    font-size: 24px;
    margin-top: 12px;
    margin-left: -18px;
}

@media (min-width: 48em) {
    .title-programs{
        font-size: 24px;
        margin-left: -18px;
    }}

.list{
    text-decoration: none;
    margin: 10px 0px 30px 0px;
    list-style: none;
    line-height: 20px;
    font-size: 16px;
}
.section-programs{
    background-color: var(--color-black);
    color: var(--color-white);
    padding-bottom: var(--space-xxxl);

}
.programs{
    font-family: 'PP Pangram Sans CompressExtrabold';
    font-size: var(--space-xxl);
    margin-bottom: var(--space-l);
    
}
@media (min-width: 48em) {
    .programs{
        font-size: 120px;
    }}

.list-programs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
@media (min-width: 48em) {
    .list-programs{
        flex-direction: row;
        gap: 10%;
        justify-content: center;
        margin:0 0 var(--space-l) 0 ;
    }}

.list-intern{
        display: flex;
        flex-direction: column;
        gap: 50%;
    }
@media (min-width: 48em) {
    .list-intern{
            flex-direction: row;
        }
    }
.btns-projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-s);
    padding: var(--space-xxxl);
}
@media (min-width: 48em) {
    .btns-projects{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: var(--space-xxxl);
        padding: var(--space-xxxl);
    }}
.btn_button{
    border: 2px var(--color-white) solid;
    border-radius: 25px;
    font-size: 18px;
    padding: var(--space) var(--space-m);
    color: white;
    background-color: var(--color-black);
}
.btn_button:hover{
    filter: drop-shadow(3px 3px 4px rgba(255, 255, 255, 0.4));
}