.slider-yellow{
    position: relative;
    max-width: 100vw;
    height: 100vh;
    transition: all 0.2s ease-in;
    background-color: var(--color-yellow);
    z-index: 99;
    overflow: hidden;
}
.slider-blue{
    position: relative;
    max-width: 100vw;
    height: 100vh;
    transition: all 0.2s ease-in;
    background-color: var(--color-blue);
    z-index: 99;
    overflow: hidden;
}
.slider-pink{
    position: relative;
    max-width: 100vw;
    height: 100vh;
    transition: all 0.2s ease-in;
    background-color: var(--color-pink);
    z-index: 99;
    overflow: hidden;
}
@media (max-width: 375px) {
    .slider-yellow{height: 110vh;}
    .slider-blue{height: 110vh;}
    .slider-pink{height: 110vh;}
}
@media (min-width: 48em) {
    .slider-yellow{height: 110vh;}
    .slider-blue{height: 110vh;}
    .slider-pink{height: 110vh;}
}

.img-slide {
    transition: all .5s ease;
    transform: scale(0.35);
}
@media (min-width: 48em) {
    .img-slide {
        transform: scale(0.7);
    }
}

.slide__tranlation {
    position: relative;
}


.slide__single{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 230px;
    right: 0;
    left: 0;
    justify-content: center;
}

@media (min-width: 48em) {
    .slide__single{
        top: 400px;
        justify-content: flex-end;
    }}
@media (min-width: 56em) {
    .slide__single{
        top: 20px;
        left: 555px;
        
    
    }}

/* .slide__1{

}
.slide__2 {


}
.slide__3{

} */

.text-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    text-align: right;
    align-items: flex-end;
    width: 100%;
    left: 0;
    padding: 50px;
    top: 100px;
    
}

@media (min-width: 48em) {
    
    .text-slide {
    width: 50%;
    left: 200px;
    top:150px
    }}

@media (min-width: 56em) {
        .text-slide {
            width: 25%;
            left: 5%;
            top:250px
            }
    }
    
.title-slide{

    font-family: 'PP Pangram Sans CompressExtrabold';
    font-size: 60px;
    line-height: 50px;
}

.btn-home{
    color: var(--color-black);
    border: 2px var(--color-black) solid;
    border-radius: 25px;
    padding: var(--space) var(--space-s);
    background-color: transparent;
}

.slide__1 .img-slide{    
    position: relative;
    z-index: 2;
    right: 30%;
    transform: scale(0.35) rotateZ(354deg);
}
.slide__2 .img-slide{
    position: relative;
    right: -40px;
    z-index: 1;
    transform: scale(0.35) rotateZ(0deg);
}
.slide__3 .img-slide{
    position: relative;
    z-index: 0;
    right:  -40%;
    transform: scale(0.35) rotateZ(354deg);
}


@media (min-width: 48em) {
    .slide__1 .img-slide{
        transform: scale(0.7) rotateZ(354deg);
        right: 50%;
    }
    .slide__3 .img-slide{
        right: -100px;
        transform: scale(0.7) rotateZ(354deg);
    }
    .slide__2 .img-slide{
        transform: scale(0.7) rotateZ(0deg);
        right: 80px;
    }
}
@media (min-width: 1400px) {
    .slide__1 .img-slide{
        transform: scale(0.7) rotateZ(354deg);
        right: 450px;
    }
    .slide__2 .img-slide{
        transform: scale(0.7) rotateZ(0deg);
        right: 150px;
    }
}