.slider-yellow{
    max-width: 100vw;
    height: 100vh;
    transition: all 0.2s ease-in;
    background-color: var(--color-yellow);
    z-index: 99;
    overflow: hidden;
}
.slider-blue{
    max-width: 100vw;
    height: 100vh;
    transition: all 0.2s ease-in;
    background-color: var(--color-blue);
    z-index: 99;
    overflow: hidden;
}
.slider-pink{
    max-width: 100vw;
    height: 100vh;
    transition: all 0.2s ease-in;
    background-color: var(--color-pink);
    z-index: 99;
    overflow: hidden;
}

.img-slide {
    transition: all .5s ease;
    transform: scale(0.8);
}

.slide__tranlation {
    position: relative;
}



.slide__single{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0;
    right: 0;
}

/* .slide__1{

}
.slide__2 {


}
.slide__3{

} */

.text-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    align-items: flex-end;
    text-align: right;
    width: 20%;
    left: 10%;
    top:250px
}

.title-slide{

    font-family: 'PP Pangram Sans CompressExtrabold';
    font-size: 60px;
    line-height: 50px;
}

.btn-home{
    color: var(--color-black);
    border: 2px var(--color-black) solid;
    border-radius: 25px;
    padding: var(--space) var(--space-s);
    background-color: transparent;
}

.slide__1 .img-slide{    
    position: relative;
    z-index: 2;
    right: 50%;
    transform: scale(0.8) rotateZ(354deg);
}
.slide__2 .img-slide{
    position: relative;
    right: -10px;
    z-index: 1;
    transform: scale(0.8) rotateZ(0deg);
}
.slide__3 .img-slide{
    position: relative;
    z-index: 0;
    right:  -25%;
    transform: scale(0.8) rotateZ(354deg);
}