@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400;0,700;1,600&display=swap');
@font-face {
  src:
      url('../public/typography/PPPangramSans-CompressedExtrabold.otf');
      
      font-family: 'PP Pangram Sans CompressExtrabold';
      font-style: normal;
      font-weight: 800;
    }
@font-face {
    src:
      url('../public/typography/PPPangramSans-NarrowExtraboldItalic.otf');
        
      font-family: 'PP Pangram Sans NarrowExtrabolItalic';
      font-style: italic;
      font-weight: 800;
      }

      @font-face {
        src:
          url('../public/typography/PPPangramSans-NarrowSemibold.otf');

          font-family: 'PP Pangram Sans NarrowSemibold';
          font-style: italic;
          font-weight: 600;
          }
    

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
