@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400;0,700;1,600&display=swap');
@font-face {
  src:
      url('../public/typography/PPPangramSans-CompressedExtrabold.otf');
      
      font-family: 'PP Pangram Sans CompressExtrabold';
      font-style: normal;
      font-weight: 800;
    }
@font-face {
    src:
      url('../public/typography/PPPangramSans-NarrowExtraboldItalic.otf');
        
      font-family: 'PP Pangram Sans NarrowExtrabolItalic';
      font-style: italic;
      font-weight: 800;
      }

      @font-face {
        src:
          url('../public/typography/PPPangramSans-NarrowSemibold.otf');

          font-family: 'PP Pangram Sans NarrowSemibold';
          font-style: italic;
          font-weight: 600;
          }
    
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Familjen Grotesk';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
}

h1{
  font-family: 'PP Pangram Sans CompressExtrabold';
  font-size: 48px;
  text-transform: uppercase;
  
}
@media (min-width: 48em) {
  h1{
    font-size: 90px;
  }
}

h3{
  font-family: 'Familjen Grotesk';
  font-size: 18px;
  text-transform: uppercase;
  width: regular;
  text-align: center;
}
@media (min-width: 48em) {
  h3{
    font-size: 24px;
  }
}

h4{
  font-family: 'Familjen Grotesk';
  font-size: 18px;
  text-transform: uppercase;
  width: 800;

}


/* Variables */
:root {
  /* colors */
--color-black: #1A1D19;
--color-white: #FFFFFF;
--color-yellow: #FFEEC1;
--color-pink: #FADDEC;
--color-blue: #A3D7E8;
/* spaces */
--space: 6px;
--space-xs: 12px;
--space-s: 18px;
--space-m: 24px;
--space-l: 30px;
--space-xl: 36px;
--space-xxl: 42px;

}

.color-white{
  color: var(--color-white);
}