
.b-blue{
    background-color: var(--color-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15%;
    padding-top: 114px;
    border-bottom: 130px solid white;
}
@media (min-width: 48em) {
    .b-blue{
        border-bottom: 300px solid white;}
}
