.container:first-child { 
    height: 3000px;
    background: var(--color-white);
}

.container {
    height: 3000px;
    z-index: -1;
}
.center {
    width: 300px;
    height: 300px;
    background-image: url('../../../public/images/projects.gif');
    background-position: center;

    background-repeat: no-repeat;
    position: fixed;
    left: 0; 
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
}
.title-home{
    position: fixed;
    left: 0; 
    right: 0;
    margin: auto;
    top: 15%;
    bottom: 0;
    z-index: -1;
}
@media (min-width: 48em) {
    .title-home{
        top: 17%;
    }}
.title-home-1{
    font-family: 'PP Pangram Sans CompressExtrabold';
    font-size: 60px;
    position: fixed;
    left: 20px; 
    margin-top: 45px;
}
@media (min-width: 48em) {
    .title-home-1{
        font-size: 81px;
        left: 20%; 
        margin-top: 130px;
    }}

@media (min-width: 56em) {
    .title-home-1{
        font-size: 81px;
        left: 30%; 
        margin-top: 0px;
    }}

.title-home-2{
    font-family: 'PP Pangram Sans CompressExtrabold';
    font-size: 60px;
    position: fixed;
    right: 20px;
    margin-top: 360px;
}
@media (min-width: 48em) {
    .title-home-2{
        font-size: 81px;
        right: 20%;
        bottom: 0;
        margin-bottom: 300px;
    }}
@media (min-width: 56em) {
    .title-home-2{
        right: 30%;
        margin-bottom: 100px;
    }}

.slide-index{
    z-index: 4;
}

.typing{
    font-family: 'PP Pangram Sans NarrowSemibold';
    font-size: 24px;
    position: fixed;
    right: 0;
    margin: 18px 23% 0 0;
    z-index: 1;
}
@media (min-width: 48em) {
    .typing{
        font-size: 30px;
        bottom: 0;
        margin: 0 20% 33% 0;

    }}


    @media (min-width: 56em) {
        .typing{
        
            margin: 0 30% 5% 0;
    
        }}


.rrss-home{
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 5%;
    margin-bottom: 2%;
    display: flex;
    gap: 12px;
    z-index: -1;
}
.discover{
    font-style: italic;
    font-size: 30px;
    transform: rotate(270deg);
    text-transform: uppercase;
    margin-right: -136px;
    margin-bottom: 20px;
    color: var(--color-black);

}
.discover-arrow{
    z-index: -1;
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: var(--space-s);
    margin-bottom: -41px;
    transform: scale(0.5);
}
@media (min-width: 48em) {
    .discover-arrow{

        margin-bottom: var(--space-s);
        transform: scale(1);
    }}
.arrow{
    display: flex;
}

