.menu__item{
    z-index: 99;
    font-family: 'PP Pangram Sans NarrowExtrabolItalic';
    font-size: 60px;
    line-height: 66px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-white);
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 96px;
}

.contact-section{
    margin-top: var(--space-xl);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: var(--color-white);
    text-decoration: none;
    z-index: 99;
}

.contact-text{
    font-family: 'PP Pangram Sans CompressExtrabold';
    font-size: 36px;
}

